.home{
    .home-container{
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .logo-od{
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translate(-13%, -52%);
    }

    .buttons{
        margin: 50px 0;

        a{
            padding: 15px 30px;
            font-size: 18px;
            background: $primary-color;
            color: $white-color;
            border: 1px solid transparent;
            border-radius: 30px;
            transition: all .35s ease;
            
            &:hover{
                background: transparent;
                border: 1px solid #ff3a5e;
            }
        }
    }
}

.home-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1{
        font-size: var(--h1-font);
        font-weight: 700;
        line-height: 1.4;
        color: $white-color; 
    }

    .typewriter{
        font-size: var(--p-font);
        line-height: 1.8;
        color: $white-color;
        margin: 40px 0px 0;

        &::after {
            content: "|";
            margin-left: 8px;
            opacity: 1;
            animation: blink 1s infinite;
            color: #ff3a5e;
        }
    }
    @keyframes blink {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
      }

    p:nth-child(3){
        font-size: 1.8rem;
        margin: 15px 0px 0;
    }
}