@media (max-width: 1550px) {
    header{
        padding: 0 5%;
    }
    section{
        padding: 60px 5%;
    }
    .home {
        .home-text{
            margin-right: 320px;
        }
        
        .logo-od {
            transform: translate(-17%, -79%);

            img{
            width: 340px;
            object-fit: cover;
            }
        }
    }
}

@media (max-width: 1100px){
    :root{
        --h1-font: 3.2rem;
        --h2-font: 3.2rem;
        --h3-font: 1.7rem;
        --h4-font: 1.7rem;
        --p-font: 1.7rem;
    }

   .about{
    .about-container{
        .about-text p{
                margin: 20px 0 20px 0;
            }
    
            .social-icons a{ 
            font-size: 2.5rem;
            padding: 15px;
            } 
        } 
    }    
}

@media (max-width: 940px){
    header{
        nav{
            .nav-bar{
                display: none;
            }
        }
 
        .mobile-menu i{
         display: block;
        }
    }

    .home{
        .home-container{
            justify-content: center;
        }

        .home-text{
            margin-right: 0;
        }

        .logo-od{
            display: none;
        }
    }
    
    .about{
        .about-container{
            grid-template-columns: repeat(1,1fr);
            
            .about-text{
                margin: 30px 20px;
            }
        }
    }
}

@media (max-width: 580px){
    :root{
        --h1-font: 3rem;
        --h2-font: 3rem;
        --h3-font: 1.6rem;
        --h4-font: 1.6rem;
        --p-font: 1.6rem;
    }

    .contact{
        grid-template-columns: repeat(1, 1fr);
    }

    .home{
        .home-container{
            text-align: center;
        }

        .buttons{
            flex-direction: column;
        }
    }
}