@media (max-width: 1550px) {
    header{
        padding: 0 5%;
    }
    section{
        padding: 60px 5%;
    }
    .home {
        .home-text{
            margin-right: 320px;
        }
        
        .logo-od {
            transform: translate(-17%, -52%);

            img{
            width: 340px;
            object-fit: cover;
            }
        }
    }
}

@media (max-width: 1100px){
    :root{
        --h1-font: 3.2rem;
        --h2-font: 3.2rem;
        --h3-font: 1.7rem;
        --h4-font: 1.7rem;
        --p-font: 1.7rem;
    }

   .about .about-container{

        .social-icons a{ 
        margin: 20px 15px 0 0;
        font-size: 2.5rem;
        padding: 15px;
        } 
    }    
}

@media (max-width: 940px){
    header{
        nav{
            .nav-bar{
                display: none;
            }
        }
 
        .mobile-menu i{
         display: block;
        }
    }

    .home{
        .home-container{
            justify-content: center;
        }

        .home-text{
            margin-right: 0;
        }

        .logo-od{
            display: none;
        }
    }
    
    .about{
        .about-container{
            grid-template-columns: repeat(1,1fr);
            
            .about-text{
                margin: 30px 20px;
            }
        }
    }
}

@media (max-width: 580px){
    :root{
        --h1-font: 3rem;
        --h2-font: 3rem;
        --h3-font: 1.6rem;
        --h4-font: 1.6rem;
        --p-font: 1.6rem;
    }

    section{
        padding: 30px 5%;
    }

    .home{
        .buttons{
            margin: 0 auto;
            flex-direction: column;
          
            a{
                margin: 25px 0;
            }

        }
    }

    .contact{
        grid-template-columns: repeat(1, 1fr);
    }

    .about .about-container .about-img img{
        height: 480px;
        object-fit: cover;    
    }

    footer{
        .top{
            display: none;
        }
    }
}