.obrigado-container{
    display: block;
    text-align: center;
    
    .obg-container{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    h1{
        font-size: var(--h1-font);
        font-weight: 900;
        letter-spacing: 1px;
    }
    
    p{
        margin-top: 15px;
        margin-bottom: 80px;
        font-size: var(--p-font);
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    a{
        padding: 20px;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        border: 1px solid #fff;
        border-radius: 10px;
        transition: all .25s ease;
        
        &:hover{
            box-shadow: 1px 1px 15px #fff;
            text-shadow: 1px 1px 10px #fff;
        }
    }
}
