$primary-color: #FF3A5E;
$white-color: #ffffff;
$grey-color: #BFBFBF;
$dark-color: #040405;
$dark-200-color: #09090b;
$dark-400-color: #101013;

:root{
    --h1-font: 4rem;
    --h2-font: 4rem;
    --h3-font: 2rem;
    --h4-font: 2rem;
    --p-font: 2rem;
}

