:root{
    --primary: #FF3A5E;
    --white: #ffffff;
    --grey: #BFBFBF;
    --dark: #040405;
    --dark-200: #09090B;
    --dark-400: #101013;
    --h1-font: 4rem;
    --h2-font: 3rem;
    --h3-font: 2.5rem;
    --p-font: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo';
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    background: var(--dark);
    color: var(--white);
}

section{
    width: 100%;
    height: 100vh;
    padding: 120px 11% 160px;
}

span{
    color: var(--primary);
}

/*----------------Selection Text Section----------------*/

::selection{
    background: var(--primary);
    color: #040405;
}

/*----------------Scrollbar Design----------------*/

::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 30px;
}
::-webkit-scrollbar-track{
    background: var(--dark);
}

/*----------------Header Section----------------*/

header{
    position: fixed;
    width: 100%;
    padding: 0 11% 0;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--dark);
    border-bottom: 1px solid transparent;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 100px;
}
nav .logo img{ 
    width: 200px;
    height: 34px;
}
nav .nav-bar{
    display: flex;
}
nav .nav-bar li{
    margin-left: 40px;
}
nav .mobile-menu i{
    display: none;
    position: relative;
    color: var(--white);
    font-size: 45px;
}
nav .nav-bar li a{
    position: relative;
    font-size: 19px;
    font-weight: 600;
    color: var(--grey);
}
nav .nav-bar li a::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: all .45s ease;
}
nav .nav-bar li a:hover::before{
    width: 100%;
    color: var(--primary);
}

/*----------------Home Section----------------*/

.home {
    position: relative;
    display: flex;
}
.home .home-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.home-text h1{
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 1.4;
    color: var(--white); 
}
.home-text p{
    font-size: var(--p-font);
    line-height: 1.8;
    color: var(--white);
}
.home-text p:nth-child(2){
    margin: 40px 0 20px 0;
}
.home .logo-od{
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate(-7%, -45%);
}

